<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <DbContext>
        <!-- The connection key used to retrieve the ConnectionString -->
        <ConnectionKey>TournamentsMsSql</ConnectionKey>
        <!-- The catalog aka database name -->
        <Catalog>TournamentCalendar</Catalog>
        <!-- The schema inside the database -->
        <Schema>dbo</Schema>
        <!-- The timeout value to use with database commands -->
        <CommandTimeOut>15</CommandTimeOut>
    </DbContext>
</Configuration>