<?xml version="1.0" encoding="utf-8"?>
<NavNode key="Root" controller="Calendar" action="Index" text="Home">
    <Children>
        <NavNode key="Home" controller="Calendar" action="All" text="" iconCssClass="bi bi-house">
            <Children />
        </NavNode>
        <NavNode key="Calendar" controller="Calendar" action="All" text="Kalender">
            <Children>
                <NavNode key="AllTournaments" controller="Calendar" action="All" text="Alle Turniere">
                    <Children />
                </NavNode>
                <NavNode key="AddTournament" controller="Calendar" action="NewEntry" text="Turnier eintragen" preservedRouteParameters="">
                    <Children />
                </NavNode>
                <NavNode key="AboutUs" controller="Calendar" action="Integrate" text="In eigene Homepage integrieren">  
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
        <NavNode key="VolleyNews" controller="InfoService" action="Index" text="Volley-News" >
            <Children />
        </NavNode>
        <NavNode key="TournamentsEval" controller="Organization" action="Evaluation" text="Turnierauswertung" >
            <Children />
        </NavNode>
        <NavNode key="Contact" controller="Contact" action="Index" text="Kontakt" >
            <Children>
                <NavNode key="WriteMessage" controller="Contact" action="Message" text="Nachricht schreiben">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
        <NavNode key="Info" controller="Info" action="LegalDetails" text="Info" >
            <Children>
                <NavNode key="LegalNotice" controller="Info" action="LegalDetails" text="Impressum">
                    <Children />
                </NavNode>
                <NavNode key="PrivacyPolicy" controller="Info" action="PrivacyPolicy" text="Datenschutzerklärung">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
        <NavNode key="Administration"
                 controller="Auth"
                 action="SignIn"
                 text="Admin"
                 iconCssClass=""
                 hideFromAnonymous="true"
        >
            <Children>
                <NavNode key="Import" controller="Collect" action="Show" text="Ext. Turniere">
                    <Children />
                </NavNode>
                <NavNode key="NetCoreInfo" viewRoles="Admin" controller="Admin" action="NetCoreInfo" text="NetCore Info">
                    <Children />
                </NavNode>
                <NavNode key="Restart" viewRoles="Admin" controller="Admin" action="Restart" text="App neu starten">
                    <Children />
                </NavNode>
                <NavNode key="AuthSignOut" controller="Auth" action="SignOut" text="Abmelden">
                    <Children />
                </NavNode>
            </Children>
        </NavNode>
    </Children>
</NavNode>
