<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs\internal-nlog.log">

    <!-- the targets to write to -->
    <targets async="true">
        <!-- write logs to file ** ${var:logDirectory} is set in Program.Main() -->
        <target xsi:type="File" name="allfile" fileName="${var:logDirectory}logs\nlog-all-${shortdate}.log" keepFileOpen="true" openFileCacheTimeout="5" concurrentWrites="true"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString,StackTrace}${newline}" />

        <!-- "not found" file log, only own logs. -->
        <target xsi:type="File" name="notFoundFile-web" fileName="${var:logDirectory}logs\nlog-not-found-${shortdate}.log" keepFileOpen="true" openFileCacheTimeout="5" concurrentWrites="true"
                layout="${aspnet-request:header=JSNLog-RequestId:whenEmpty=${aspnet-TraceIdentifier}} ${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message}" />

        <!-- another file log, only own logs. -->
        <target xsi:type="File" name="ownFile-web" fileName="${var:logDirectory}logs\nlog-own-${shortdate}.log" keepFileOpen="true" openFileCacheTimeout="5" concurrentWrites="true"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString,StackTrace}${newline}   |url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
        <target xsi:type="File" name="ownFile-Syndication" fileName="${var:logDirectory}logs\nlog-syndication.log" keepFileOpen="true" openFileCacheTimeout="5" concurrentWrites="true"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString}" />

        <!-- write to void i.e. just remove -->
        <target xsi:type="Null" name="nowhere" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!-- All logs, including from Microsoft -->
        <logger name="*" minlevel="Warn" writeTo="allfile" />

        <!-- Skip Microsoft logs with final=true, and so only log own logs -->
        <logger name="Microsoft.*" minlevel="Warn" writeTo="nowhere" final="true" />

        <logger name="TournamentCalendar.NotFound" minlevel="Info" writeTo="notFoundFile-web" final="true" />
        <!-- Log syndication requests reparately -->
        <logger name="TournamentCalendar.Controllers.ContentSynd" minlevel="Trace" writeTo="ownFile-Syndication" final="true" />
        <logger name="TournamentCalendar.*" minlevel="Warn" writeTo="ownFile-web" final="true" />
        <!-- Other log content -->
        <logger name="*" minlevel="Warn" writeTo="ownFile-web" />
    </rules>
</nlog>