@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using TournamentCalendar.Controllers
<div class="row">
    <article class="col-md-6">
        <h3 class="h3">Turnierkalender<br/>in die eigene<br/> Homepage integrieren</h3>
        <p>
            <i>Volleyball-Turnier.de</i> stellt der Volleyball-Gemeinschaft Informationen über
            Turniere in einer zentralen Datenbank zur Verfügung. Diese Turnierinformationen können auf beliebigen 
            Internetseiten eingebunden und angezeigt werden.
        </p>
        <p>
            Der Vorteil: Veranstalter tragen ihre Turniere an einer Stelle ein, und tausende Sportvereine mit Volleyballabteilung
            können den Turnierkalender auf ihrer jeweiligen Homepage anzeigen.
        </p>
        <p>
            Wir bitten lediglich darum, <i>Volleyball-Turnier.de</i> als Quelle zu nennen.
        </p>
    </article>
    <article class="col-md-6 d-none d-md-block">
        @* Hide on devices smaller than MD *@
        <img src="@Url.Content("~/images/integrate.png")" class="rounded text-right" alt="Kalender integrieren" style="width: 100%" />
    </article>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <div>
            <p>
                Für diese Integration gibt es verschiedene Optionen. Nachfolgend ist beispielhaft die Integration mit JavaScript beschrieben.
                Bei Fragen dazu @Html.ActionLink("helfen wir gerne kostenlos weiter", nameof(Contact.Message), nameof(Contact), null, new { @class = "link" }).
            </p>
        </div>
        <div class="card shadow p-2">
            <h4 class="h4">JavaScript</h4>
            <p>
                Am einfachsten wird es für die meisten Betreiber einer Homepage sein, an der Stelle, an der der Kalender erscheinen soll,
                folgenden Eintrag in den HTML Code der Seite einzufügen:
            </p>
            <code>
                &lt;script type="text/javascript" src="https://@Configuration["DomainName"]@Url.Action(nameof(ContentSynd.CalendarListJs), nameof(ContentSynd))"&gt;&lt;/script&gt;
            </code>
            <p>
                Falls gewünscht, können die Farben der Tabelle dem Design der Homepage mit Hilfe von CSS <code>Style</code>s angeglichen werden,
                die im <code>HEAD</code>-Element der Seite eingefügt werden.
            </p>
            <p>
                <a class="btn btn-primary me-2 mb-3" href="https://jsfiddle.net/axuno/wot90aon/">Demo anzeigen</a>
            </p>
        </div>
    </div>
</div>

