<div class="row">
    <article class="col-12">
        <h3 class="h3">Impressum</h3>
        <p style="margin-top: 0">
            Die Website &quot;<b>volleyball-turnier.de</b>&quot; wird betrieben von <b><a href="https://www.axuno.net" class="link">axuno</a></b>, einer gemeinnützigen
            Organisation, die u.a. Wettbewerbe im Freizeitsport fördert und organisiert, sowie die dafür erforderliche Software zur Verfügung stellt:
        </p>
        <p>
            <strong>axuno gemeinnützige GmbH</strong><br />
            Leni-Hirsch-Weg 12<br />
            86156 Augsburg<br />
            Telefon (0821) 45094985<br />
        </p>
        <p>
            vertreten durch Norbert Bietsch<br />
            Handelsregister: Amtsgericht Augsburg HRB 30535<br />
        </p>
        <p>
            <strong>Inhaltlich verantwortlich gemäß &sect; 6 MDStV:</strong><br />
            Norbert Bietsch, Anschrift s.o.
        </p>
        <p>
            <strong>Haftungshinweis:</strong> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
            externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
        </p>
 </article>
</div>
@section CssSection {}
@section ScriptStandardSection {}

