// **************************************
// Variables used locally
// **************************************
@import '../bootstrap/custom';

$label-color: $success;
$label-bgcolor: transparent;

$error-color: $danger;
$error-bgcolor: tint-color($error-color,90%);

$info-color: $info;
$info-bgcolor: tint-color($info-color,90%);

$success-color: $success;
$success-bgcolor: tint-color($success-color,90%);

$warning-color: $warning;
$warning-bgcolor: tint-color($warning-color,90%);

$question-color: $info;
$question-bgcolor: tint-color($question-color,90%);

$validation-color: $danger;
$validation-bgcolor: tint-color($validation-color,90%);

// **************************************
// Styles
// **************************************

//start: css classes coming from MVC

label {
	font-weight: normal;
    color: $label-color;
    background-color: $label-bgcolor;
	margin-top: .75rem;
    margin-bottom: 0rem;
    display: block;
}


.input-validation-error {
	border: 2px solid $error-color !important;
}

.input-required {
    border-left: .5rem solid $success;
}

.field-validation-error {
	display: block;
	font-size: 1rem; // 10pt
	color: $error-color;
}

.validation-summary-errors {
    font-size: 1rem; // 10pt
    border: 2px solid;
    margin: 10px 0px;
    padding: 10px 10px 10px 50px;
    color: $error-color;
}

.validation-summary-valid  {
    display: none;
}

// end: css classes coming from MVC
.msg-info, .msg-success, .msg-warning, .msg-question, .msg-error, .msg-validation {
    border: 2px solid;
    // margin: 13px 0 13px 0;
    padding: 10px 10px 10px 50px;
    position: relative;

    &:before {
        font-family: "bootstrap-icons";
        font-display: block;
        font-size: 2.25rem; // 36px
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: -5px;
        left: 5px;
    }

    ul, p {
        margin-bottom: 0;
    }
}

.msg-error-text {
	color: $error-color;
}


.msg-info {
    color: $info-color;
    background-color: $info-bgcolor;

    &:before {
        content: '\F431';
    }
}


.msg-success {
    color: $success-color;
    background-color: $success-bgcolor;

    &:before {
        content: '\F26B';
    }
}

.msg-warning {
    color: $warning-color;
    background-color: $warning-bgcolor;

    &:before {
        content: '\F333';
    }
}

.msg-question {
    color: $question-color;
    background-color: $question-bgcolor;

    &:before {
        content: '\F505';
    }
}

.msg-error {
    color: $error-color;
    background-color: $error-bgcolor;

    &:before {
        content: '\F623';
    }
}

.msg-validation {
    color: $validation-color;
    background-color: $validation-bgcolor;

    &:before {
        content: '\F567';
    }
}


// Override Bootstrap
.form-control {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

// Override Boodstrap-Select
.bootstrap-select > button.btn {
    background-color: $white !important;
    border-color: $gray-400;
    font-family: $font-family-sans-serif;
}

