.tether-element, .tether-element:after, .tether-element:before, .tether-element *, .tether-element *:after, .tether-element *:before {
  box-sizing: border-box; }

.tether-element {
  position: absolute;
  display: none; }
  .tether-element.tether-open {
    display: block; }

/* unchanged! */
.tether-element, .tether-element:after, .tether-element:before, .tether-element *, .tether-element *:after, .tether-element *:before {
  box-sizing: border-box; }

.tether-element {
  position: absolute;
  display: none; }
  .tether-element.tether-open {
    display: block; }

/* unchanged! */
label {
  font-weight: normal;
  color: #32BB99;
  background-color: transparent;
  margin-top: .75rem;
  margin-bottom: 0rem;
  display: block; }

.input-validation-error {
  border: 2px solid #BB3299 !important; }

.input-required {
  border-left: 0.5rem solid #32BB99; }

.field-validation-error {
  display: block;
  font-size: 1rem;
  color: #BB3299; }

.validation-summary-errors {
  font-size: 1rem;
  border: 2px solid;
  margin: 10px 0px;
  padding: 10px 10px 10px 50px;
  color: #BB3299; }

.validation-summary-valid {
  display: none; }

.msg-info, .msg-success, .msg-warning, .msg-question, .msg-error, .msg-validation {
  border: 2px solid;
  padding: 10px 10px 10px 50px;
  position: relative; }
  .msg-info:before, .msg-success:before, .msg-warning:before, .msg-question:before, .msg-error:before, .msg-validation:before {
    font-family: "bootstrap-icons";
    font-display: block;
    font-size: 2.25rem;
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -5px;
    left: 5px; }
  .msg-info ul, .msg-info p, .msg-success ul, .msg-success p, .msg-warning ul, .msg-warning p, .msg-question ul, .msg-question p, .msg-error ul, .msg-error p, .msg-validation ul, .msg-validation p {
    margin-bottom: 0; }

.msg-error-text {
  color: #BB3299; }

.msg-info {
  color: #3299BB;
  background-color: #f1f9fb; }
  .msg-info:before {
    content: '\F431'; }

.msg-success {
  color: #32BB99;
  background-color: #f1fbf9; }
  .msg-success:before {
    content: '\F26B'; }

.msg-warning {
  color: #FFA500;
  background-color: white; }
  .msg-warning:before {
    content: '\F333'; }

.msg-question {
  color: #3299BB;
  background-color: #f1f9fb; }
  .msg-question:before {
    content: '\F505'; }

.msg-error {
  color: #BB3299;
  background-color: #fbf1f9; }
  .msg-error:before {
    content: '\F623'; }

.msg-validation {
  color: #BB3299;
  background-color: #fbf1f9; }
  .msg-validation:before {
    content: '\F567'; }

.form-control {
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem; }

.bootstrap-select > button.btn {
  background-color: #fff !important;
  border-color: #ced4da;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

body {
  max-width: 60rem;
  margin: 0 auto; }
  body header.site, body footer.site {
    margin-top: .3rem;
    background-color: #e9e9e9; }
  body header.site {
    padding: .5rem 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    background-image: url("/images/volleyball-turnier-logo.png");
    background-repeat: no-repeat;
    background-position: 99% center; }
  body footer.site {
    margin-bottom: .3rem;
    margin-top: .5rem; }
    body footer.site div {
      text-align: right;
      font-size: 0.75rem;
      padding: .1rem .5rem; }

#nav-main {
  background-color: #3299BB;
  font-size: 1.3rem;
  margin-top: .25rem;
  padding-top: 0;
  padding-bottom: 0; }

#content {
  background-color: #fff;
  font-size: 1.2rem;
  margin-top: .3rem;
  padding-top: 0.8rem; }

a.link:before {
  content: '\279e\00a0'; }

.h1, .h2, .h3 {
  color: #32BB99;
  font-weight: bold; }

.h4, .h5 {
  color: #32BB99; }

hr {
  height: 0;
  border: 0;
  border-top: 0.1rem solid #32BB99; }

fieldset {
  margin: .5rem 0;
  padding: 0 .5rem 1rem .5rem;
  border: 0.1rem solid #3299BB;
  background-color: #f8f9fa; }

fieldset legend {
  font-size: .9rem;
  color: #fff;
  background-color: #3299BB;
  padding: 0 .5rem; }

/* Overview.cshtml */
#tournaments-table {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #adb5bd; }
  #tournaments-table th {
    color: #000;
    background-color: #ddf0f6; }
  #tournaments-table tr:hover {
    background-color: #ddf0f6; }

#tournaments-table_wrapper {
  /* from dataTables.js */
  padding-left: 0;
  padding-right: 0; }

#tournaments-table_info {
  padding: 0;
  text-align: right; }

/* Show.cshtml */
#single-tournament-table {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5; }
  #single-tournament-table td, #single-tournament-table th {
    padding: 0.5rem .5rem;
    display: table-cell;
    text-align: left;
    vertical-align: top; }
  #single-tournament-table th {
    vertical-align: top;
    text-align: left; }

/* Auswertung.cshtml*/
.bi.bi-arrow-down-circle-fill.fa-2x {
  color: #32BB99; }
