// Required for using Bootstrap functions and mixins
@use 'bootstrap/scss/functions' as *;
@use 'bootstrap/scss/mixins' as *;
// Instead, we can also use sass color helpers for exact color math
@use 'sass:color' as color;

@use '../bootstrap/custom' as custom; // customized variable values for Bootstrap

// ************************************************
// Variables used locally (not Bootstrap overrides)
// ************************************************

$label-color: custom.$success;
$label-bgcolor: transparent;

$error-color: custom.$danger;
$error-bgcolor: tint-color($error-color,90%);

$info-color: custom.$info;
$info-bgcolor: tint-color($info-color,90%);

$success-color: custom.$success;
$success-bgcolor: tint-color($success-color,90%);

$warning-color: custom.$warning;
$warning-bgcolor: tint-color($warning-color,90%);

$question-color: custom.$info;
$question-bgcolor: tint-color($question-color,90%);

$validation-color: custom.$danger;
$validation-bgcolor: tint-color($validation-color,90%);

// **************************************
// Styles
// **************************************

//start: css classes coming from MVC

label {
	font-weight: normal;
    color: $label-color;
    background-color: $label-bgcolor;
	margin-top: .75rem;
    margin-bottom: 0rem;
    display: block;
}

.input-validation-error {
	border: 2px solid $error-color !important;
}

.input-required {
    border-left: .5rem solid custom.$success;
}

.field-validation-error {
	display: block;
	font-size: 1rem; // 10pt
	color: $error-color;
}

.validation-summary-errors {
    font-size: 1rem; // 10pt
    border: 2px solid;
    margin: 10px 0px;
    padding: 10px 10px 10px 50px;
    color: $error-color;
}

.validation-summary-valid  {
    display: none;
}

// end: css classes coming from MVC

.msg-info, .msg-success, .msg-warning, .msg-question, .msg-error, .msg-validation {
    border: 2px solid;
    padding: 10px 10px 10px 50px;
    position: relative;

    &:before {
        /* use the bootstrap-icons font (ensure CSS/fonts are available under wwwroot) */
        font-family: 'bootstrap-icons', sans-serif;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 2.25rem; // 36px
        content: ''; // set per-variant below
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 2.25rem;
        height: 2.25rem;
        text-align: center;
    }

    ul, p {
        margin-bottom: 0;
    }
}

.msg-error-text {
	color: $error-color;
}

.msg-info {
    color: $info-color;
    background-color: $info-bgcolor;

    &:before {
        content: '\F431'; // .bi-info-circle codepoint
    }
}

.msg-success {
    color: $success-color;
    background-color: $success-bgcolor;

    &:before {
        content: '\F26B'; // .bi-check-circle codepoint
    }
}

.msg-warning {
    color: $warning-color;
    background-color: $warning-bgcolor;

    &:before {
        content: '\F333'; // .bi-exclamation-triangle codepoint
    }
}

.msg-question {
    color: $question-color;
    background-color: $question-bgcolor;

    &:before {
        content: '\F505'; // .bi-question-circle codepoint
    }
}

.msg-error {
    color: $error-color;
    background-color: $error-bgcolor;

    &:before {
        content: '\F623'; // .bi-x-circle codepoint
    }
}

.msg-validation {
    color: $validation-color;
    background-color: $validation-bgcolor;

    &:before {
        content: '\F333'; // .bi-exclamation-circle codepoint
    }
}

// Override Bootstrap
.form-control {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

// Override Boodstrap-Select
.bootstrap-select > button.btn {
    background-color: custom.$white !important;
    border-color: custom.$gray-400;
    font-family: custom.$font-family-sans-serif;
}

