<?xml version="1.0" encoding="utf-8" ?>
<rewrite>
    <rules>
        <rule name="No redirects on development machine" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny">
                <add input="{HTTP_HOST}" pattern="^localhost(:\d+)?$" />
                <add input="{HTTP_HOST}" pattern="^volleyball-turnier.lan(:\d+)?" />
            </conditions>
            <action type="None" />
        </rule>
        <rule name="All hostnames to single website" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny">
                <add input="{HTTPS}" pattern="^OFF$"/>
                <add input="{HTTP_HOST}" pattern="^www.volleyball-turnier.de$" />
            </conditions>
            <action type="Redirect" url="https://volleyball-turnier.de{REQUEST_URI}" redirectType="Permanent" appendQueryString="true"/>
        </rule>
    </rules>
</rewrite>

