<?xml version="1.0" encoding="utf-8" ?>
<statuscodes>
  <statuscode>
    <code>400</code>
    <text>Request</text>
    <description>Bad request.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Ungültige Anforderung.</germandescription>
  </statuscode>
  <statuscode>
    <code>401</code>
    <text>Authentification</text>
    <description>Authentification Required.</description>
    <germantext>Authentifizierung</germantext>
    <germandescription>Authentifizierung erforderlich.</germandescription>
  </statuscode>
  <statuscode>
    <code>403</code>
    <text>Unauthorized</text>
    <description>Access Denied.</description>
    <germantext>Authorisierung</germantext>
    <germandescription>Zugriff verweigert.</germandescription>
  </statuscode>
  <statuscode>
    <code>404</code>
    <text>Not found.</text>
    <description>Requested resource was not found.</description>
    <germantext>Nicht gefunden.</germantext>
    <germandescription>Die angeforderte Ressource wurde nicht gefunden.</germandescription>
  </statuscode>
  <statuscode>
    <code>404-13</code>
    <text>File size</text>
    <description>Maximum file size exceeded.</description>
    <germantext>Dateigröße</germantext>
    <germandescription>Die maximal erlaubte Dateigröße wurde überschritten.</germandescription>
  </statuscode>  
  <statuscode>
    <code>405</code>
    <text>Method</text>
    <description>Http Method Not Allowed.</description>
    <germantext>Methode.</germantext>
    <germandescription>Http-Methode nicht erlaubt.</germandescription>
  </statuscode>
  <statuscode>
    <code>406</code>
    <text>Request</text>
    <description>Browser does not accept the MIME type of the requested page.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Der Browser akzeptiert den MIME-Typ der angeforderten Seite nicht.</germandescription>
  </statuscode>
  <statuscode>
    <code>407</code>
    <text>Request</text>
    <description>Proxy Authentication Requested</description>
    <germantext>Anforderung</germantext>
    <germandescription>Ein Proxy-Server fordert Authentifizierung an.</germandescription>
  </statuscode>
  <statuscode>
    <code>412</code>
    <text>Request</text>
    <description>Precondition failed.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Vorbedingung fehlgeschlagen.</germandescription>
  </statuscode>
  <statuscode>
    <code>413</code>
    <text>Request</text>
    <description>Request Entity Too Long.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Anforderungseinheit ist zu groß.</germandescription>
  </statuscode>
  <statuscode>
    <code>414</code>
    <text>Request</text>
    <description>Request-URI Too Long.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Anforderungs-URI ist zu lang.</germandescription>
  </statuscode>
  <statuscode>
    <code>415</code>
    <text>Request</text>
    <description>Unsupported Media Type.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Nicht unterstützter Medientyp.</germandescription>
  </statuscode>
  <statuscode>
    <code>416</code>
    <text>Request</text>
    <description>Request Range Not Satisfiable</description>
    <germantext>Anforderung</germantext>
    <germandescription>Angeforderter Bereich kann nicht erfüllt werden.</germandescription>
  </statuscode>
  <statuscode>
    <code>417</code>
    <text>Expectation</text>
    <description>Expectation Failed</description>
    <germantext>Erwartung</germantext>
    <germandescription>Eine Erwartung aus dem Expect-Header konnte nicht erfüllt werden.</germandescription>
  </statuscode>
  <statuscode>
    <code>423</code>
    <text>Request</text>
    <description>Locked Error.</description>
    <germantext>Anforderung</germantext>
    <germandescription>Fehler durch Sperre.</germandescription>
  </statuscode>
  <statuscode>
    <code>500</code>
    <text>Server</text>
    <description>Internal Server Error</description>
    <germantext>Server</germantext>
    <germandescription>Fehler in einem serverseitigen Programm.</germandescription>
  </statuscode>
  <statuscode>
    <code>501</code>
    <text>Server</text>
    <description>Header values specify a configuration that is not implemented.</description>
    <germantext>Server</germantext>
    <germandescription>Headerwerte geben nicht implementierte Konfiguration an.</germandescription>
  </statuscode>
  <statuscode>
    <code>502</code>
    <text>Server</text>
    <description>Bad Gateway.</description>
    <germantext>Server</germantext>
    <germandescription>Fehlerhafte Server- oder Proxy-Antwort.</germandescription>
  </statuscode>
  <statuscode>
    <code>503</code>
    <text>Server</text>
    <description>Service Unavailable.</description>
    <germantext>Server</germantext>
    <germandescription>Ein Dienst steht zurzeit nicht zur Verfügung.</germandescription>
  </statuscode>
  <statuscode>
    <code>504</code>
    <text>Server</text>
    <description>Gateway Timeout.</description>
    <germantext>Server</germantext>
    <germandescription>Timeout einer Proxy-Anfrage.</germandescription>
  </statuscode>
  <statuscode>
    <code>505</code>
    <text>Server</text>
    <description>HTTP Version Not Supported.</description>
    <germantext>Server</germantext>
    <germandescription>Der Server unterstützt die angegebene HTTP-Version nicht.</germandescription>
  </statuscode>
  <statuscode>
    <code>1</code>
    <text>Application error</text>
    <description>Sorry, an error occurred while processing your request.</description>
    <germantext>Software-Fehler</germantext>
    <germandescription>Die Anforderung konnte aufgrund eines Fehlers nicht verarbeitet werden.</germandescription>
  </statuscode>
	<statuscode>
	<code>2</code>
	<text>Maintenance</text>
	<description>We are performing some maintenance. Please try again in a few minutes.</description>
	<germantext>Wartungsarbeiten</germantext>
	<germandescription>Derzeit laufen einige Wartungsarbeiten. Bitte versuchen Sie es in ein paar Minuten nochmals.</germandescription>
	</statuscode>
</statuscodes>
